/*
 * Component: Main Header
 * ----------------------
 */
.main-header {
  position: relative;
  max-height: 100px;
  z-index: 1030;
  background-color: #000000;
  top: 0;
  left: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 100%;
  font-size: 25px;
}
.main-header .navbar {
  display: block;
  position: relative;
  margin-bottom: 0px;
  margin-left: 400px;
}
.main-header .navbar .nav-item {
  list-style-type: none;
  width: 50px;
  float: left;
}
.main-header .navbar .nav-item-dropdown {
  display: block;
  list-style: none;
  float: right;
}
.main-header .navbar .nav-item-dropdown > .dropdown-menu {
  position: relative;
  width: 100px;
  padding: 0 0 0 0;
  margin: 20px 20px 20px 20px;
  top: 22px;
  left: 200px;
  font-size: 18px;
  text-align: center;
}
.main-header .navbar .nav-item-dropdown > .dropdown-menu > li > a > .fas {
  color: orange;
}
.main-header .navbar .nav-item-dropdown > .dropdown-menu > .divider {
  height: 1px;
  background-color: #eee;
}
