/*
 * Component: Main Header
 * ----------------------
 */

 .main-header {
    position: relative;
    max-height: 100px;
    z-index: 1030;
    background-color:rgba(0, 0, 0, 1);
    top: 0;
    left: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 100%;
    font-size: 25px;
    //Navbar
    .navbar {
        display:block;
        position: relative;
        margin-bottom: 0px;
        margin-left: 450px;

        .nav-item{
            list-style-type:none;
            width:50px;
            float:left;         
        }
        .nav-item-dropdown{
            display:block;
            list-style: none;
            float:right;         
        >.dropdown-menu{
            position: relative;
            width: 100px;
            padding: 0 0 0 0;
            margin:  20px 20px 20px 20px;
            top:22px;
            text-align: center;
            font-size: 18px;
            > li >a>.fas{
                color:orange;

            }
            > .divider {
                height:1px;
                background-color: #eee;
            }
              


            }
            
        }
   
    }


    }
    .main-footer {
        position:absolute;
        left:100px;
        bottom:0px;
        background-color:rgb(85, 170, 219);
        min-width: 100%;
        font-size: 12px;
        text-align: center;

    }