
/*
 * Component: Sidebar
 * ------------------
 */
//Main Sidebar
// ``` .left-side has been deprecated as of 2.0.0 in favor of .main-sidebar ```

.main-left-sidebar,
.left-sidebar{
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 100%;
  font-size: 25px;
  z-index: 810;
  background-color:rgba(1, 32, 41, 0.623);
}
// Sidebar menu
.left-sidebar-menu {  

  list-style:none;
  margin: 15px;
  padding: 0px;
  //First Level
  > li {
    position: relative;
    margin: 10px;
    padding: 0px;
   }
  }